

@media screen and (min-width: 980px) {
    .img {
        width: 120px;
    	margin-bottom: 8px;
    }
}


img{
	width: 85px;
	margin-bottom: 8px;
	cursor: pointer;
	cursor: pointer;
}


img:hover{
	content: url(https://tyrell152.github.io/zoxva/images/zoxvawhite.png);
}


.back{
	z-index: -10000;
    bottom:0%;
    width: 100%;
    position: absolute;
    opacity: 0.1;
    left: 0px;
    filter: alpha(opacity=50); /* For IE8 and earlier */

}




@media screen and (min-width: 980px) {
    .headline {
        float: left;  
        margin-left: 20px; 
        margin-top: 20px;
        position: relative;
    }
}

    .headline {
        float: left;  
        margin-left: 20px; 
        color: white;
        font-size: 150px;
        font-family: helvetica;
        margin-top: 20px;
        position: relative;
    }


@media screen and (min-width: 980px) {
    .sing1 {
        color: white; 
        font-family: helvetica; 
        font-weight: bolder; 
        font-size: 25px;
    }
}

    .sing1 {
        color: white; 
        font-family: helvetica; 
        font-weight: bolder; 
        font-size: 20px;
    }



@media screen and (min-width: 980px) {
    .sing2 {
        color: white; 
        font-family: helvetica; 
        font-weight: lighter; 
        font-size: 30px;
    }
}



    .sing2 {
        color: white; 
        font-family: helvetica; 
        font-weight: lighter; 
        font-size: 20px;
    }





@media screen and (min-width: 980px) {
    a {
	color: #ffa500;
	font-size: 15px;
	margin-bottom: 10px;
	cursor: pointer;

    }
}



a{
	color: #ffa500;
	font-size: 15px;
	margin-bottom: 10px; 
	cursor: pointer;

}


.list:hover {
    background-color: rgba(255, 0, 0, 0.61);;
    padding: 10px;
    left

}


@media screen and (min-width: 980px) {
    .portfolio {
 		font-size: 20px;
 		color: white;
		font-family: helvetica;
		text-align: right;
	    margin-right: 20px; 
	    margin-top: 20%;
	    position: relative;
	    float: right;

    }
}

.portfolio{
	color: white;
	float: right;
	font-family: helvetica;
	text-align: right;
    margin-right: 20px; 
    margin-top: 50%;
    position: relative;
    font-size: 10px

}



.info{
	float: left;
	margin-top: 100%;
	margin-right: 90%;
	position: relative;

}




.about{
	color: white;
	float: right;
	font-family: helvetica;
	text-align: right;
    margin-top: 8%;
    position: relative;
    font-size: 10px

}


@media screen and (min-width: 980px) {
    .about {
 		font-size: 10px;
 		color: white;
		font-family: helvetica;
		text-align: right;
	    margin-top: 8%;
	    position: relative;
	    float: right;

    }
}



    body {
      animation: colorchange 5s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: black;}
      25%  {background: gray;}
      50%  {background: black;}
      75%  {background: gray;}
      100% {background: black;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: black;}
      25%  {background: gray;}
      50%  {background: black;}
      75%  {background: gray;}
      100% {background: black;}
    }







