
/*Panels - LEFT Side*/
.left1{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.left2{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.left3{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.left4{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}

/*Panels - RIGHT Side*/
.right1{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.right2{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.right3{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}
.right4{
    background-image:url(http://placehold.it/1000x1334.jpg) !important;
    background-size: cover;
}